# Foldery kompilacji i Visual Studio
.vs/
x64/
x86/
Debug/
Release/
*.obj
*.exe
*.pdb
*.ilk
*.idb
*.tlog

# Pomiń wygenerowane pliki w głównym folderze bin/lib (jeśli takowe masz)
/bin/
/lib/

run.sh
builddir/
settings.bin
